.smartpen
{
color:#000000ff;
font-family:arial;
line-height:1.2;
font-size:4.534;
font-style:normal;
font-variant:small-caps;
font-weight:300;
-myscript-pen-smoothing:None;
-myscript-pen-width:1.0;
}

.void
{
color:#00000000;
line-height:0.0;
font-size:0.0;
font-weight:0.0;
-myscript-pen-smoothing:None;
-myscript-pen-width:0.0;
}

stroke
{
-myscript-pen-brush:DynamicEnvelope;
}

line
{
-myscript-pen-brush:caps-square;
-myscript-begin-arrow-size:4;
}

.boundingBox
{
color:#1a8bffff;
-myscript-pen-width:0.5;
}

.beautifiedShape
{
color:#1a8bffff;
-myscript-pen-width:1;
-myscript-pen-brush:Polyline;
}

.fillShape
{
-myscript-pen-fill-color:44aadf44;
-myscript-pen-fill-style:solid;
}

.darkBlueFillShape
{
-myscript-pen-fill-color:44aadf44;
-myscript-pen-fill-style:solid;
-myscript-pen-brush:Polyline;
}

.externalHandle
{
color:#1a8bffff;
-myscript-pen-fill-color:#ffffffff;
-myscript-pen-fill-style:solid;
-myscript-pen-width:1;
}

.externalHandlePale
{
color:#44aadf55;
-myscript-pen-fill-color:#ffffff55;
-myscript-pen-fill-style:solid;
}

.middleHandle
{
color:#ffffffff;
-myscript-pen-fill-color:#1a8bffff;
-myscript-pen-fill-style:solid;
-myscript-pen-width:0.5;
}

.middleHandlePale
{
color:#ffffff55;
-myscript-pen-fill-color:#44aadf55;
-myscript-pen-fill-style:solid;
}

.joinHandle
{
color:#1a8bffff;
-myscript-pen-fill-color:#1a8bffff;
-myscript-pen-fill-style:solid;
-myscript-pen-width:1.0;
}

.alignmentGuideLine
{
color:#1a8bffff;
-myscript-pen-width:1.0;
-myscript-pen-brush:dash caps-square;
}

.homotheticGuideLine
{
color:#1a8bffff;
-myscript-pen-width:1.0;
-myscript-pen-brush:dash caps-square;
}

.squareGuideLine
{
color:#1a8bffff;
-myscript-pen-width:1.0;
-myscript-pen-brush:dash caps-square;
}

.innerSquareGuideLine
{
color:#1a8bffff;
-myscript-pen-width:1.0;
-myscript-pen-brush:dash caps-square;
}

.selectionMultiple
{
color:#1a8bffff;
-myscript-pen-brush:dotted caps-square;
-myscript-pen-width:0.5;
}

.greyGhost
{
color:#bfbfbfff;
}

.blueGhost
{
color:#1a8bffff;
}

/* Optional Styles */
.darkGrey
{
color:#808080ff;
}

.lightGrey
{
color:#D9D9D9ff;
}

.blue
{
color:#1a8cffff;
}

.red
{
color:#ff1a40ff;
}

.green
{
color:#2bd965ff;
}

.yellow
{
color:ffdd33ff;
}